html,body{
	height: 100%;
	width: 100%;
}

.firstpage{
	height: 100%;
	width: 100%;
	background: url(../img/banner.png) no-repeat;
	background-size: 100% 100%;
	position: relative;
}

.wrap{
	width: 100%;
	height: 100%;
}


.header{
	width: 100%;
	z-index: 999;
	position: fixed;
	background: white;
}
.logo{
	padding-left: 10%;
	line-height: 70px;
	height: 70px;
}
.logo img{
	height: 70px;
	vertical-align: middle;
}
.nav{
	height: 70px;
	line-height:70px;
	padding-right:10%;
}
.nav .item{
	width: 100px;
	text-align: center;
}
/* .nav .item.active{

} */
.banner{
	top:70px;
}
.banner img{
	width: 100%;
}
.introduce{
	padding-top:80px;
	overflow: hidden;
}
.block{
}
.block div{
	height: 3px;
	background: #5D0F29;
	margin-top: 60px;
}
.block i{
	font-family: HelveticaExtObl-Light;
	color: #5D0F29;
	margin-top: 15px;
	display: inline-block;
	width: 100%;
	text-align: right;
}
.block span{
	font-size: 30px;
	color: #5D0F29;
	margin-top: 30px;
	display: inline-block;
	width: 100%;
	font-weight: bold;
	text-align: right;
}
.block .img{
	width: 100%;
}
.block .wordimg{
	width: 50%;
	margin-top: 10px;
}
.introduce .block{
	width: 20%;
	margin:0 2% ;
}
.post{
	width: 68%;
	margin-left: 30%;
	margin-right: 25%;
	margin-top: 40px;
	padding-bottom: 120px;
}
.post .word{
	padding: 40px 0;
	width: 40%;
	font-size: 18px;
	line-height: 24px;
	color: #000;
}
.imgs img{
	margin: 0 15px;
}
.aboutus{
	width: 70%;
	margin: 74px auto;
}
.about .word{
	width: 126px;
	writing-mode: vertical-lr; 
	writing-mode: tb-rl;
	word-wrap: break-word;
    text-align: right;
    height: 126px;
    line-height: 24px;
}
.sublogo{
	width: 149px;
	height: 90px;
	margin-left: 130px;
}
.sublogo img{
	width: 100%;
	height: 100%;
}
.about .border b{
	width: 4px;
	height: 30px;
	display: inline-block;
	background: #5D0F29;
	vertical-align: top;
}
.about .border span{
	width:24px;
	font-size:26px;
	font-weight:bold;
	display: inline-block;
	color:rgba(93,15,41,1);
	margin-left: 16px;
	line-height: 26px;
}
.about .border i{
	width: 8px;
	height: 56px;
	font-size: 10px;
	color:rgba(93,15,41,1);
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	line-height: 12px;
}
.map {
	width: 784px;
	height: 383px;
	text-align: center;
	margin: 60px auto 0;
}
.map img{
	width: 100%;
	height: 100%;
}
.footer{
	margin-top: 150px;
	position: relative;
	height: 53px;
	background: #f0f0f0;
	text-align: center;
	color: #666;
	padding-top: 25px;
}
.footer .wx{
	width:28px;
	height: 28px;
	position: absolute;
	left: 50%;
	top: -14px;
	margin-left: -14px;
}

.footer .wx-detail{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 50%;
	top: -60px;
	margin-left: -20px;
	display: none;

}

.footer .wx-detail img{
	width: 100%;
	height: 100%;
}

.video-div{
	background: url("../img/black.png") no-repeat;
	background-size: 100% 100%;
	width: 100%;
	clear: both;
	height: 100%;
}

.video-div iframe{
	width: 60%;
	height: 60%;
	margin: 20% 0 20% 20%;
}

.blackberry-video-div{
	width: 48%;
	height: 70%;
	margin-top: 11%;
	margin-left: 7%;
	/* padding-top: 10%; */
	background: white;
	position: absolute;
}

.baidu-img{
	width: 67px;
	height: 72px;

}

.baidu-img img{
	width: 100%;
	height: 100%;
}























