<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>品牌历程</title>
	<link rel="stylesheet" href="../style/reset.css">
	<link rel="stylesheet" href="../style/common.css">
	<link rel="stylesheet" href="../style/course.css">
</head>
<body>
	<div class="header clear">
		<div class="logo fl">
			<img src="../img/brand.png" alt="">
		</div>
		<ul class="nav fr">
			<li class="item fl"><a href="../index.html">网站首页</a></li>
			<li class="item fl"><a href='./produce.html'>产品介绍</a></li>
			<li class="item fl"><a href="./introduce.html">成分介绍</a></li>
			<li class="item fl"><a href="#" class="active">品牌历程</a></li>
		</ul>
	</div>
	<div class="banner">
		<img src="../img/course.png" alt="">
	</div>
	<div class="subbanner">
		<div class="usa">
			<div>黑莓是营养丰富的超级水果</div>
			<div>盛行于欧美</div>
		</div>
	</div>
	<div class="main">
		<div class="item clear one">
			<div class="fl">
				<div class="title">古希腊</div>
				<div class="word">两千多年前，在孕育人类文明的<span>古希腊</span>，人们发现了黑莓，当地人用来治疗<span>痛风、脑梗、烧伤</span>痛风、脑梗、烧伤等疾病，显著的效果让黑莓风靡欧洲。</div>
			</div>
			<div class="position">2000年前</div>
			<div class="img">
				<img src="../img/one.png" alt="">
			</div>
		</div>
		<div class="item clear two">
			<div class="fr">
				<div class="title">欧洲</div>
				<div class="word">
					<div>17世纪中期</div>
					<div>欧洲人开始驯化并优化野生黑莓品种</div>
					<div>也被<span>欧洲国家赞誉</span>为“生命之过”，<span>“黑钻石”</span></div>
				</div>
			</div>
			<div class="position">17世纪中期</div>
			<div class="img">
				<img src="../img/two.png" alt="">
			</div>
		</div>
		<div class="item clear one">
			<div class="fl">
				<div class="title">美国</div>
				<div class="word">
					<div>19世纪由美国引种到太平洋各洲</div>
					<div>截止目前，美国种植面积三万公顷，智利两万公顷。</div>
				</div>
			</div>
			<div class="position">19世纪</div>
			<div class="img">
				<img src="../img/three.png" alt="">
			</div>
		</div>
		<div class="item clear two">
			<div class="fr">
				<div class="title">中国</div>
				<div class="word">
					<div>我国于1986年由<span>中国科学院植物研究所</span>从美国</div>
					<div>引植到南京溧水白马丘陵地带并<span>获得成功</span></div>
					<div>种植面积上万亩</div>
				</div>
			</div>
			<div class="position">1986年</div>
			<div class="img">
				<img src="../img/four.png" alt="">
			</div>
		</div>
	</div>
	<div class="inchina">
		<img src="../img/oneberry.png" alt="">
		<span>黑莓在中国始于1986年</span>
	</div>
	<div class="progress clear">
		<div style="position:relative;padding-right:36px; border-right:2px dashed rgba(102,102,102,1);width:553px;" class="right fl">
			<div class="items">
				<div class="img">
					<img src="../img/progress1.png" alt="">
				</div>
			</div>	
			<div class="border">
				<div class="year">1986年</div>
				<span class="ponit"></span><span class="bor"></span>
				<span class="fixborder"></span>
				<div class="words">1986年由中共科学院植物研究所从美国引植到南京溧水白马丘陵地带并获得成功。</div>
			</div>
		</div>
		<div style="position:relative;padding-left:36px;padding-top:53px; border-left:2px dashed rgba(102,102,102,1);width:553px;" class="left fr">
			<div class="items">
				<div class="img">
					<img src="../img/1996.png" alt="">
				</div>
			</div>	
			<div class="border">
				<div class="year">1996年</div>
				<span class="bor"></span><span class="ponit"></span>
				<span class="fixborder"></span>
				<div class="words">1996年推广种植面积达到上万亩。</div>
			</div>
		</div>
		<div style="position:relative;padding-right:36px; border-right:2px dashed rgba(102,102,102,1);width:553px;" class="right fl">
			<div class="items">
				<div class="img">
					<img src="../img/2009.png" alt="">
				</div>
			</div>	
			<div class="border">
				<div class="year">2009年</div>
				<span class="ponit"></span><span class="bor"></span>
				<span class="fixborder"></span>
				<div class="words">2009年上海生命之果生物科技公司与专家团队开始研发黑莓系列产品。</div>
			</div>
		</div>
		<div style="position:relative;padding-left:36px;padding-top:53px; border-left:2px dashed rgba(102,102,102,1);width:553px;" class="left fr">
			<div class="items">
				<div class="img">
					<img src="../img/2010.png" alt="">
				</div>
			</div>	
			<div class="border">
				<div class="year">2010年-2016年</div>
				<span class="bor"></span><span class="ponit"></span>
				<span class="fixborder"></span>
				<div class="words">2010年-2016年，黑莓营养的研究成果实现突破性进展，袁勤生教授及其团队推出黑莓离心破壁专利技术，独家授权给上海生命之果生物科技公司。</div>
			</div>
		</div>
		<div style="position:relative;padding-right:36px; border-right:2px dashed rgba(102,102,102,1);width:553px;" class="right fl">
			<div class="items">
				<div class="img">
					<img src="../img/2018.png" alt="">
				</div>
			</div>	
			<div class="border">
				<div class="year">2018年</div>
				<span class="ponit"></span><span class="bor"></span>
				<span class="fixborder"></span>
				<div class="words">2018年，上海易生健康与上海生命之果两大公司携手推广缤纷谷黑莓原液品牌，致力于让黑莓健康走进千家万户。</div>
			</div>
		</div>
	</div>
	<div class="over">
		<div class="logoinfo">
			<div class="blogo">
				<img src="../img/blogo.png" alt=""><span class="">缤纷谷</span>
			</div>
			<div class="overtime">
				<div>缤纷谷品牌<span>始于2009年</span>，创始人李彬是大学老师</div>
				<div><span>10年来一直专注于健康饮食领域的投资与推广</span>，前期已经推出了缤纷谷餐</div>
				<div><span>2018年开始，专注于做黑莓有机产品的推广</span></div>
			</div>
		</div>
		<div class="gov">
			<img src="../img/big.png" alt="">
		</div>
		<div class="imgs">
			<img style="margin-right: 105px;" src="../img/overimg1.png" alt=""><img style="margin-right: 105px;" src="../img/overimg2.png" alt=""><img src="../img/overimg3.png" alt="">
		</div>
	</div>
	<div class="footer">
		<div class="wx-detail">
			<img src="../img/wxdetail.png">
		</div>
		<img src='../img/wx.png' class="wx" alt="">
		<div class="tip">网站地图 | 联系我们 | 使用条款 | 隐私政策</div>
		<div class="address">上海市</div>
	</div>
</body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script>
    $(".wx").on("click",function () {
        var wx = $(".wx-detail");
        var display =wx.css("display");
        if(display == "none"){
            wx.css("display","block");
        }else{
            wx.css("display","none");
        }
    });
</script>
<script>

	function detectmob() {
		if( navigator.userAgent.match(/Android/i)
				|| navigator.userAgent.match(/webOS/i)
				|| navigator.userAgent.match(/iPhone/i)
				|| navigator.userAgent.match(/iPad/i)
				|| navigator.userAgent.match(/iPod/i)
				|| navigator.userAgent.match(/BlackBerry/i)
				|| navigator.userAgent.match(/Windows Phone/i)
		){
			return true;
		}
		else {
			return false;
		}
	}
	if(detectmob()){
		window.location.href = 'binfen_mobile/brand_development.html';
	}else{
		/*
      $(".PC").append("<p class='PCF1'>网站正在紧急建设中，敬请期待...</p ><br>\
      <p class='PCF2'>提前预览优弹素微官网，请扫描下方二维码</p ><br>\
      <p class='PCF3'>< img src='images/PCER.png' alt=''></p >");
      $(".PC").removeClass("d_n");
      $("body").css("transform","translate(0%,50%)");
      */

	}

</script>
</html>