<!DOCTYPE html>
<html lang="en" style='font-size:100px;'>
<head>
	<meta charset="UTF-8">
	<title>首页</title>
	<link rel="stylesheet" href="../style/reset.css">
	<link rel="stylesheet" href="../style/index.css">	
	<link rel="stylesheet" href="../style/common.css">
</head>
<body>
	<div class="wrap">
		<div class="header clear">
			<div class="logo fl">
				<img src="../img/brand.png" alt="">
			</div>
			<ul class="nav fr">
				<li class="item fl"><a class="active" href="#">网站首页</a></li>
				<li class="item fl"><a href="./product.html">产品介绍</a></li>
				<li class="item fl"><a href="./introduce.html">成分介绍</a></li>
				<li class="item fl"><a href="./course.html">品牌历程</a></li>
			</ul>
		</div>
		<div class="banner">
			<img src="../img/banner.png" alt="">
		</div>
		<div class="introduce clear">
			<div class="block noimg fl">
				<div></div>
				<i>INTRODUCTION TO PATENTS</i>
				<span>专利介绍</span>
			</div>	
			<div class="block fr">
				<img class="img" src="../img/sod.png" alt="">
				<img class="wordimg" src="../img/professor.png" alt="">
			</div>	
			<div class="block fr">
				<img class="img" src="../img/expert.png" alt="">
				<img class="wordimg" src="../img/environment.png" alt="">

			</div>	
			<div class="block fr">
				<img class="img" src="../img/factory.png" alt="">
				<img class="wordimg" src="../img/sod2x.png" alt="">
			</div>	
		</div>
		<div class="post clear">
			<div class="fl word">
				<span class="fl" style='display:inline-block;width:6px;height:21px;background: #5D0F29;'></span>
				<div class="fl" style="margin-left: 10px;">
					<div>缤纷谷黑莓原液采用的破壁取汁技术</div>
					<div>由南京社科院与华东理工大学生命科学院袁勤生教授联合研发</div>
					<div>经由全国SOD产业联盟认证。</div>
				</div>
			</div>
			<div class="fr imgs">
				<img class="img1" src="../img/img1.png" alt="">
				<img class="img2" src="../img/img2.png" alt="">
				<img class="img3" src="../img/img3.png" alt="">
			</div>
		</div>
		<div class="banner">
			<img src="../img/black.png" alt="">
		</div>
		<div class="aboutus">
			<div class="about clear">
				<div class="border fl">
					<b></b>
					<span>关于我们</span>
					<i>ABOUT US</i>
				</div>
				<div class="sublogo fl">
					<img src="../img/sublogo.png" alt="">
				</div>
				<div class="word fr">缤纷谷自诞生之初起，一直致力于推广健康有益的生活方式，提倡健体强身、滋补调理的科学养身方法，黑莓原液是缤纷谷旗下的主打产品，集养身、调理、保健三大方针于一体，专注您在营养摄取方面的各项所需。</div>
			</div>
			<div style='margin-top:74px;line-height:22px;text-align: center;color: #000;font-size:16px;font-weight: bold;'>
				<div>缤纷谷黑莓原液开始走向全球</div>
				<div>黑莓虽小 誉满世界 健康未来 携手共创</div>
			</div>
			<div class="map">
				<img src="../img/map.png" alt="">
			</div>
		</div>
		<div class="footer">
			<img src='../img/wx.png' class="wx" alt="">
			<div class="tip">网站地图 | 联系我们 | 使用条款 | 隐私政策</div>
			<div class="address">上海市</div>
		</div>
	</div>
</body>
</html>