<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>成分介绍</title>
	<link rel="stylesheet" href="../style/reset.css">
	<link rel="stylesheet" href="../style/common.css">
	<link rel="stylesheet" href="../style/introduce.css">
</head>
<body>
	<div class="header clear">
		<div class="logo fl">
			<img src="../img/brand.png" alt="">
		</div>
		<ul class="nav fr">
			<li class="item fl"><a href="../index.html">网站首页</a></li>
			<li class="item fl"><a href='./product.html'>产品介绍</a></li>
			<li class="item fl"><a href="#" class="active">成分介绍</a></li>
			<li class="item fl"><a href="./course.html">品牌历程</a></li>
		</ul>
	</div>
	<div class="banner">
		<img src="../img/introduce.png" alt="">
		<ul class="list">
			<a href="humanguard.html" target="_blank">
			<li class="item">
				<div></div>
				<span>人体健康的卫士_超氧化物歧化酶_sod</span>
			</li>
			</a>
			<a href="older.html" target="_blank">
			<li class="item">
				<div></div>
				<span>老年血管性痴呆患者认知功能与血清hcy和sod水平的关系</span>
			</li>
			</a>
			<a href="drinks.html" target="_blank">
			<li class="item">
				<div></div>
				<span>sod饮料与人体健康关系的研究</span>
			</li>
			</a>
			<a href="mouse.html" target="_blank">
			<li class="item">
				<div></div>
				<span>紫甘薯花青素对小鼠酒精性肝损伤的保护作用</span>
			</li>
			</a>
			<a href="bloodpressure.html" target="_blank">
			<li class="item">
				<div></div>
				<span>紫娟花花青素对三高的影响及其开发利用</span>
			</li>
			</a>
			<a href="huanqingshu.html" target="_blank">
			<li class="item">
				<div></div>
				<span>紫山药花青素提取工艺及抗肿瘤活性筛选</span>
			</li>
			</a>
			<a href="beans.html" target="_blank">
			<li class="item">
				<div></div>
				<span>四种豆类中多酚_类黄酮含量及抗氧化活性研究</span>
			</li>
			</a>
			<a href="apple.html" target="_blank">
			<li class="item">
				<div></div>
				<span>每天吃苹果或降低早死风险</span>
			</li>
			</a>
			<a href="bones.html" target="_blank">
			<li class="item">
				<div></div>
				<span>膳食类黄酮对骨健康影响的观察性研究现状</span>
			</li>
			</a>
			<a href="xi.html" target="_blank">
			<li class="item">
				<div></div>
				<span>微量元素硒与人体健康</span>
			</li>
			</a>
			<a href="xi-develop.html" target="_blank">
			<li class="item">
				<div></div>
				<span>硒对人体健康作用的研究进展</span>
			</li>
			</a>
			<a href="xi-work.html" target="_blank">
			<li class="item">
				<div></div>
				<span>硒在人体健康中的作用</span>
			</li>
			</a>
			<a href="guizhen.html" target="_blank">
			<li class="item">
				<div></div>
				<span>鬼针草不同溶剂萃取物的总黄酮含量及抗氧化_酶抑制活性</span>
			</li>
			</a>
			<a href="mianyi.html" target="_blank">
				<li class="item">
				<div></div>
				<span>黄酮类化合物的免疫调节作用及机制</span>
			</li>
			</a>
			<a href="shanzha.html" target="_blank">
			<li class="item">
				<di></di>
				<span>山楂原花青素对人肝癌细胞smmc_7721增殖和凋亡的影响</span>
			</li>
			</a>
			<a href="tangniaobin.html" target="_blank">
			<li class="item">
				<div></div>
				<span>原花青素对糖尿病大鼠肾的保护作用</span>
			</li>
			</a>
			<a href="yiyu.html" target="_blank">
			<li class="item">
				<div></div>
				<span>原花青素抗抑郁作用的研究进展</span>
			</li>
			</a>
		</ul>
	</div>
	<div class="footer">
		<div class="wx-detail" style="display: none">
			<img src="../img/wxdetail.png">
		</div>
		<img src='../img/wx.png' class="wx" alt="">
		<div class="tip">网站地图 | 联系我们 | 使用条款 | 隐私政策</div>
		<div class="address">上海市</div>
	</div>
</body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script>
    $(".wx").on("click",function () {
        var wx = $(".wx-detail");
        var display =wx.css("display");
        if(display == "none"){
            wx.css("display","block");
        }else{
            wx.css("display","none");
        }
    });
</script>
</html>