<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../style/reset.css">
	<link rel="stylesheet" href="../style/common.css">	
	<link rel="stylesheet" href="../style/product.css">
</head>
<body>
	<div class="header clear">
		<div class="logo fl">
			<img src="../img/brand.png" alt="">
		</div>
		<ul class="nav fr">
			<li class="item fl"><a href="./index.html">网站首页</a></li>
			<li class="item fl"><a href='#' class="active">产品介绍</a></li>
			<li class="item fl"><a href="./introduce.html">成分介绍</a></li>
			<li class="item fl"><a href="./course.html">品牌历程</a></li>
		</ul>
	</div>
	<div class="banner">
		<img src="../img/productbanner.png" alt="">
	</div>
	<div class="pro">
		<div class="title">
			<span class="border"></span>
			<span class="name">缤纷谷黑莓原液（提）</span>
			<div class="eng">BINFENGU BLACKBERRY STOSTE</div>
		</div>	
		<div class="produce">
			¥630
		</div>
		<div class="introduce">
			<div class="label">
				<span>产品成分：总黄酮、花青素、SOD、硒、原花青素、类黄酮等</span>
			</div>
			<div class="label">
				<span>保质期限：9个月</span>
			</div>
			<div class="label">
				<span>原料产地：江苏南京溧水种植地</span>
			</div>
			<div class="label">
				<span>储存条件：通风干燥阴凉处</span>
			</div>
		</div>		
		<div class="btn">
			<img src="../img/buy.png" alt="">
		</div>
	</div>
	<div class='sub'>
		<div><em>HOW&nbsp;&nbsp;&nbsp; TO&nbsp;&nbsp;&nbsp;   DRINK</em></div>
		<div style="font-size: 24px;font-weight: bold;">如何使用</div>
	</div>
	<div class="try">
	</div>
	<div class='sub1'>
		<div><em>MAIN COMPONETS</em></div>
		<div style="font-size: 24px;font-weight: bold;">主要成分</div>
	</div>
	<div class="com">
		<div class="clear" style="margin-top: 49px">
			<div class="item fl">
				<div class="imgs">
					<img src="../img/imgs1.png" alt="">
				</div>
				<div class="">主要成分：花青素</div>
				<div class="baidu">
					<img src="../img/baidu.png" alt="">
				</div>
			</div>
			<div class="item fl" style="margin-left: 196px;">
				<div class="imgs">
					<img src="../img/imgs2.png" alt="">
				</div>
				<div class="">主要成分：原花青素</div>
				<div class="baidu">
					<img src="../img/baidu.png" alt="">
				</div>
			</div>
			<div class="item fr">
				<div class="imgs">
					<img src="../img/imgs3.png" alt="">
				</div>
				<div class="">主要成分：SOD</div>
				<div class="baidu">
					<img src="../img/baidu.png" alt="">
				</div>
			</div>	
		</div>
		<div class="clear" style="margin-top: 49px">
			<div class="item fl">
				<div class="imgs">
					<img src="../img/imgs4.png" alt="">
				</div>
				<div class="">主要成分：硒元素</div>
				<div class="baidu">
					<img src="../img/baidu.png" alt="">
				</div>
			</div>
			<div class="item fl" style="margin-left: 196px;">
				<div class="imgs">
					<img src="../img/imgs5.png" alt="">
				</div>
				<div class="">主要成分：鞣花酸</div>
				<div class="baidu">
					<img src="../img/baidu.png" alt="">
				</div>
			</div>
			<div class="item fr">
				<div class="imgs">
					<img src="../img/imgs6.png" alt="">
				</div>
				<div class="">主要成分：类黄酮</div>
				<div class="baidu">
					<img src="../img/baidu.png" alt="">
				</div>
			</div>
		</div>
	</div>
	<div class='sub1'>
		<div><em>OTHER COMPONETS</em></div>
		<div style="font-size: 24px;font-weight: bold;">其他成分</div>
	</div>
	<div class="other">
		<div class="name1">
			<div class="title">45种以上营养素</div>
			<div class="opt">氨基酸、粗蛋白、维生素K、有机酸、w-3元素远高于其他蔬果</div>
		</div>
		<div class="name1">
			<div class="title">18种氨基酸</div>
			<div class="opt">富含大量抗氧化物质</div>
		</div>
		<div class="name1">
			<div class="title">6种矿物质元素</div>
			<div class="opt">钾、钙、钠、镁、锌、铁、硒</div>
		</div>
		<div class="buy-btn">
			<img src="../img/buy.png" alt="">
		</div>
	</div>	
	<div class="footer">
		<img src='../img/wx.png' class="wx" alt="">
		<div class="tip">网站地图 | 联系我们 | 使用条款 | 隐私政策</div>
		<div class="address">上海市</div>
	</div>
</body>
</html>










