<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" href="../style/reset.css">
	<link rel="stylesheet" href="../style/common.css">	
	<link rel="stylesheet" href="../style/product.css">
</head>
<body>
	<div class="header clear">
		<div class="logo fl">
			<img src="../img/brand.png" alt="">
		</div>
		<ul class="nav fr">
			<li class="item fl"><a href="../index.html">网站首页</a></li>
			<li class="item fl"><a href='#' class="active">产品介绍</a></li>
			<li class="item fl"><a href="./introduce.html">成分介绍</a></li>
			<li class="item fl"><a href="./course.html">品牌历程</a></li>
		</ul>
	</div>
	<div class="banner">
		<img src="../img/productbanner.png" alt="">
	</div>
	<div class="pro">
		<div class="title">
			<span class="border"></span>
			<span class="name">缤纷谷黑莓原液（提）</span>
			<div class="eng">BINFENGU BLACKBERRY STOSTE</div>
		</div>	
		<div class="produce">
			¥630
		</div>
		<div class="introduce">
			<div class="label">
				<span>产品成分：总黄酮、花青素、SOD、硒、原花青素、类黄酮等</span>
			</div>
			<div class="label">
				<span>保质期限：9个月</span>
			</div>
			<div class="label">
				<span>原料产地：江苏南京溧水种植地</span>
			</div>
			<div class="label">
				<span>储存条件：通风干燥阴凉处</span>
			</div>
		</div>		
		<div class="btn">
			<a href="https://shop13332909.wxrrd.com/list"><img src="../img/buy.png" alt=""></a>
		</div>
	</div>
	<div class='sub'>
		<div><em>HOW&nbsp;TO&nbsp;DRINK</em></div>
		<div style="font-size: 35px;font-weight: bold;">如何使用</div>
	</div>
	<div class="try">
		<div class="try-container">
			<div class="try1" align="center">
				<div class="try1-img" align="center">
					<img src="../img/method.png">
				</div>
				<div class="try1-title" align="center">
					<span>服用方法</span>
				</div>
				<div class="try1-text">
					<span>1. 将黑莓原液摇晃至均匀</span>
				</div>
				<div class="try1-text">
					<span>2. 喝时将黑莓原液含一含再吞入腹中（舌下肌肤最利于吸收营养元素）</span>
				</div>
				<div class="try1-text">
					<span>3. 喝完后可在黑莓原液瓶内加少许温水摇晃后喝下（瓶内可能会留下少许沉淀）</span>
				</div>
			</div>
			<div class="try2" align="center">
				<div class="try2-img" >
					<img src="../img/suggestion.png">
				</div>
				<div class="try2-title">
					<span>温馨提示</span>
				</div>
				<div class="try2-text">
					<span>沉淀物是黑莓原液的精华所在！请放心食用！</span>
				</div>
			</div>

			<div class="try3" align="center">
				<div class="try3-img" >
					<img src="../img/time.png">
				</div>
				<div class="try3-title">
					<span>服用时间</span>
				</div>
				<div class="try3-text">
					<span>1. 早上：起床后喝杯温水2-3分钟后再喝。</span>
				</div>
				<div class="try3-text">
					<span>2. 中午：饭前饭后皆可服用。</span>
				</div>
				<div class="try3-text">
					<span>3. 晚上：睡前一小时服用。</span>
				</div>
			</div>
		</div>


	</div>
	<div class='sub1'>
		<div><em>MAIN COMPONETS</em></div>
		<div style="font-size: 35px;font-weight: bold;">主要成分</div>
	</div>
	<div class="com">
		<div class="clear" style="margin-top: 49px">
			<a href="https://baike.baidu.com/item/%E8%8A%B1%E9%9D%92%E7%B4%A0/1377098?fr=aladdin">
			<div class="item fl">
				<div class="imgs">
					<img src="../img/imgs1.png" alt="">
				</div>
				<div class="main-text">主要成分：花青素</div>
				<div class="baidu">
					<img src="../img/baidu.png" alt="">
				</div>
			</div>
			</a>
			<a href="https://baike.baidu.com/item/%E5%8E%9F%E8%8A%B1%E9%9D%92%E7%B4%A0">
			<div class="item fl" style="margin-left: 196px;">
				<div class="imgs">
					<img src="../img/imgs2.png" alt="">
				</div>
				<div class="main-text">主要成分：原花青素</div>
				<div class="baidu">
					<img src="../img/baidu.png" alt="">
				</div>
			</div>
			</a>
			<a href="https://baike.baidu.com/item/%E8%B6%85%E6%B0%A7%E5%8C%96%E7%89%A9%E6%AD%A7%E5%8C%96%E9%85%B6?fromtitle=sod&fromid=354108">
			<div class="item fr">
				<div class="imgs">
					<img src="../img/imgs3.png" alt="">
				</div>
				<div class="main-text">主要成分：SOD</div>
				<div class="baidu">
					<img src="../img/baidu.png" alt="">
				</div>
			</div>
			</a>
		</div>
		<div class="clear" style="margin-top: 49px">
			<a href="https://baike.baidu.com/item/%E7%A1%92?fromtitle=%E7%A1%92%E5%85%83%E7%B4%A0&fromid=17712730">
			<div class="item fl">
				<div class="imgs">
					<img src="../img/imgs4.png" alt="">
				</div>
				<div class="main-text">主要成分：硒元素</div>
				<div class="baidu">
					<img src="../img/baidu.png" alt="">
				</div>
			</div>
			</a>
			<a href="https://baike.baidu.com/item/%E9%9E%A3%E8%8A%B1%E9%85%B8">
			<div class="item fl" style="margin-left: 196px;">
				<div class="imgs">
					<img src="../img/imgs5.png" alt="">
				</div>
				<div class="main-text">主要成分：鞣花酸</div>
				<div class="baidu">
					<img src="../img/baidu.png" alt="">
				</div>
			</div>
			</a>
			<a href="https://baike.baidu.com/item/%E7%B1%BB%E9%BB%84%E9%85%AE">
			<div class="item fr">
				<div class="imgs">
					<img src="../img/imgs6.png" alt="">
				</div>
				<div class="main-text">主要成分：类黄酮</div>
				<div class="baidu">
					<img src="../img/baidu.png" alt="">
				</div>
			</div>
			</a>
		</div>
	</div>
	<div class='sub1'>
		<div><em>OTHER COMPONETS</em></div>
		<div style="font-size: 24px;font-weight: bold;">其他成分</div>
	</div>
	<div class="other">
		<div class="name1">
			<div class="title">45种以上营养素</div>
			<div class="opt">氨基酸、粗蛋白、维生素K、有机酸、w-3元素远高于其他蔬果</div>
		</div>
		<div class="name1">
			<div class="title">18种氨基酸</div>
			<div class="opt">富含大量抗氧化物质</div>
		</div>
		<div class="name1">
			<div class="title">6种矿物质元素</div>
			<div class="opt">钾、钙、钠、镁、锌、铁、硒</div>
		</div>
		<div class="buy-btn">
			<a href="https://shop13332909.wxrrd.com/list" target="_blank"><img src="../img/buy.png" alt=""></a>
		</div>
	</div>	
	<div class="footer" style="margin-top: 0">
		<!--<div class="wx-detail">-->
			<!--<img src="../img/wxdetail.png">-->
		<!--</div>-->
		<img src='../img/wx.png' class="wx" alt="">
		<div class="tip">网站地图 | 联系我们 | 使用条款 | 隐私政策</div>
		<div class="address">上海市</div>
	</div>
</body>
<script src="../js/jquery-3.3.1.min.js"></script>
<script>
    $(".wx").on("click",function () {
        var wx = $(".wx-detail");
        var display =wx.css("display");
        if(display == "none"){
            wx.css("display","block");
        }else{
            wx.css("display","none");
        }
    });
</script>
<script>

	function detectmob() {
		if( navigator.userAgent.match(/Android/i)
				|| navigator.userAgent.match(/webOS/i)
				|| navigator.userAgent.match(/iPhone/i)
				|| navigator.userAgent.match(/iPad/i)
				|| navigator.userAgent.match(/iPod/i)
				|| navigator.userAgent.match(/BlackBerry/i)
				|| navigator.userAgent.match(/Windows Phone/i)
		){
			return true;
		}
		else {
			return false;
		}
	}
	if(detectmob()){
		window.location.href = 'binfen_mobile/production.html';
	}else{
		/*
      $(".PC").append("<p class='PCF1'>网站正在紧急建设中，敬请期待...</p ><br>\
      <p class='PCF2'>提前预览优弹素微官网，请扫描下方二维码</p ><br>\
      <p class='PCF3'>< img src='images/PCER.png' alt=''></p >");
      $(".PC").removeClass("d_n");
      $("body").css("transform","translate(0%,50%)");
      */

	}

</script>
</html>










